.media-picker img {
	height: 10rem;
	width: 100%;
	object-fit: contain;
}

.media-picker .delete {
	color: red;
	display: none;
	bottom:0;
	right:0;
	padding:1rem;
}

.media-picker:hover .delete.optional {
	display: block;
}

.list-media .card.selected {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

#media-gallery .card-deck img.card-img-top {
	height: 10rem;
	object-fit: scale-down;
}