div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    font-size: 11px;
    color: #848896;
    padding-top: 14px;
    font-weight: normal;
}

.table-responsive {
    overflow-x: hidden; 
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    font-size: 11px;
}
.page-link{
    position: relative;
    padding: .2rem .75rem;
    padding-top: 0.2rem;
    margin-left: -1px;
    line-height: 1;
}